.scroll_hide,
.scroll_show {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.scroll_hide {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    /* border-bottom: 1px solid #ccc; */
}

.scroll_show {
    transform: translateY(-100%);
    /* border-bottom: 1px solid #ccc; */
    transition: transform 0.3s ease-in-out;
}

.sg_navbar ul,
.sg_navbar ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sg_navbar {
    background-color: #010101;
    overflow: hidden;
}

.sg_navbar_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.sg_navbar_center>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sg_navbar_center>ol {
    display: flex;
    align-items: center;
}

.sg_navbar_center>ol>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sg_navbar_center>ol>li>a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 101.223%;
    text-transform: capitalize;
    transition: .3s;
}

.sg_navbar_center>ol>li>a:hover {
    background-color: #3894ff;
    text-decoration: dashed;
}

@media screen and (min-width: 1800px) {
    .sg_navbar {
        padding: 30px 0;
    }

    .sg_navbar_center {
        width: 1708px;
        height: 40px;
    }

    .sg_navbar_center>a {
        max-width: 120px;
    }

    .sg_navbar_center>ol {
        gap: 0 30px;
    }

    .sg_navbar_center>ol>li>a {
        font-size: 20px;
        padding: 10px 20px;
    }

    .sg_navbar_center>ol>li>a:hover {
        border-radius: 80px;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1450px) {
    .sg_navbar {
        padding: 20px 0;
    }

    .sg_navbar_center {
        width: 95%;
        height: 40px;
    }

    .sg_navbar_center>a {
        max-width: 120px;
    }

    .sg_navbar_center>ol {
        gap: 0 30px;
    }

    .sg_navbar_center>ol>li>a {
        font-size: 20px;
        padding: 10px 20px;
    }

    .sg_navbar_center>ol>li>a:hover {
        border-radius: 80px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {
    .sg_navbar {
        padding: 15px 0;
    }

    .sg_navbar_center {
        width: 98%;
        height: 40px;
    }

    .sg_navbar_center>a {
        max-width: 120px;
    }

    .sg_navbar_center>ol {
        gap: 0 20px;
    }

    .sg_navbar_center>ol>li>a {
        font-size: 20px;
        padding: 10px 20px;
    }

    .sg_navbar_center>ol>li>a:hover {
        border-radius: 80px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {

    .sg_navbar {
        padding: 15px 0;
    }

    .sg_navbar_center {
        width: 98%;
        height: 40px;
    }

    .sg_navbar_center>a {
        max-width: 100px;
    }

    .sg_navbar_center>ol {
        gap: 0 10px;
    }

    .sg_navbar_center>ol>li>a {
        font-size: 18px;
        padding: 10px 10px;
    }

    .sg_navbar_center>ol>li>a:hover {
        border-radius: 80px;
    }
}

@media screen and (max-width: 750px) {
    .sg_navbar {
        width: 100%;
        padding: 1rem 0;
    }

    .sg_navbar_center {
        width: 100%;
        height: 2rem;
    }

    .sg_navbar_center>a {
        display: none;
    }

    .sg_navbar_center>ol {
        gap: 0 .5rem;
    }

    .sg_navbar_center>ol>li>a {
        font-size: .8rem;
        padding: 1rem 1rem;
    }

    .sg_navbar_center>ol>li>a:hover {
        border-radius: 80rem;
    }
}