.new_footer {
    width: 100%;
    background-color: #26272c;
}

.new_footer>p {
    color: #FFF;
    font-family: Chivo;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.footer_links {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
}

.footer_links>p {
    color: #FFF;
    font-family: Chivo;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

.footer_links>p>a {
    font-weight: 900;
    color: #FFF;
}

.footer_links>div {
    display: flex;
    align-items: center;
}

.footer_links>div>span {
    color: #fff;
}

.footer_links>div>a {
    color: #FFF;
    font-family: Chivo;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1800px) {
    .new_footer>p {
        font-size: 70px;
        margin: 120px 0;
    }

    .footer_links {
        width: 1708px;
        padding: 20px 0 30px;
    }

    .footer_links>p {
        font-size: 23px;
    }

    .footer_links>p>a {
        margin-left: 5px;
    }

    .footer_links>div {
        gap: 0 10px;
    }

    .footer_links>div>span {
        margin-top: -2px;
    }

    .footer_links>div>a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1450px) {
    .new_footer>p {
        font-size: 60px;
        margin: 80px 0;
    }

    .footer_links {
        width: 95%;
        padding: 20px 0 30px;
    }

    .footer_links>p {
        font-size: 23px;
    }

    .footer_links>p>a {
        margin-left: 5px;
    }

    .footer_links>div {
        gap: 0 10px;
    }

    .footer_links>div>span {
        margin-top: -2px;
    }

    .footer_links>div>a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {

    .new_footer>p {
        font-size: 48px;
        margin: 60px 0;
    }

    .footer_links {
        width: 98%;
        padding: 20px 0 30px;
    }

    .footer_links>p {
        font-size: 20px;
    }

    .footer_links>p>a {
        margin-left: 5px;
    }

    .footer_links>div {
        gap: 0 10px;
    }

    .footer_links>div>span {
        margin-top: -2px;
    }

    .footer_links>div>a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .new_footer>p {
        font-size: 34px;
        margin: 60px 0;
    }

    .footer_links {
        width: 98%;
        padding: 10px 0 15px;
    }

    .footer_links>p {
        font-size: 18px;
    }

    .footer_links>p>a {
        margin-left: 5px;
    }

    .footer_links>div {
        gap: 0 10px;
    }

    .footer_links>div>span {
        margin-top: -2px;
    }

    .footer_links>div>a {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    footer {
        width: 100%;
    }

    .new_footer>p {
        font-size: 2rem;
        margin: 4rem 0;
    }

    .footer_links {
        width: 98%;
        padding: .6rem 0 .5rem;
    }

    .footer_links>p {
        font-size: 1rem;
    }

    .footer_links>p>a {
        margin-left: .2rem;
    }

    .footer_links>div {
        gap: 0 .5rem;
    }

    .footer_links>div>span {
        margin-top: -2px;
    }

    .footer_links>div>a {
        font-size: 1rem;
        text-align: center;
    }
}