.sg_main {
  background-color: #f5f5f5;
}

.sg_main ol,
.sg_main ul {
  padding: 0;
  list-style: none;
}

.sg_main>div {
  background-color: #f5f5f5;
}

.sg_main>.sg_page_head {
  background-color: #000;
}

.sg_chip_info {
  margin: 0 auto;
}

.sg_page_head>div {
  margin: 0 auto;
  overflow: hidden;
}

.head_title {
  aspect-ratio: 192/84;
  background: url(/static/img/head-contexts.webp) no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.title_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title_box>p:first-child {
  color: #FFF;
  text-align: right;
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}

.title_box>p:last-child {
  text-shadow: 22px 10px 17px rgba(37, 138, 255, 0.25);
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #1581FF 0.05%, #63ABFF 84.01%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lern_more {
  display: flex;
  align-items: center;
}

.sg_about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sg_about>p {
  color: #FFF;
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.sg_about>div>h1 {
  color: rgba(255, 255, 255, 0.70);
  font-family: Chivo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lern_more {
  color: #D45900;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.lern_more:hover {
  color: #3894ff;
}

.lern_more:hover>svg>path {
  stroke: #3894FF;
}

.text_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_card>li {
  flex: 1;
  background: #26272C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .3s;
}

.text_card>li:hover {
  box-shadow: 0px 0px 20px 0px #3894FF;
}

.text_card>li:nth-child(2) {
  align-self: flex-start;
}

.text_card>li>p {
  text-align: center;
  margin: 0;
}

.text_card>li>p:first-child {
  color: #FFF;
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text_card>li>p:last-child {
  color: rgba(255, 255, 255, 0.40);
  font-family: Chivo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sg_application {
  width: 100%;
}

.items_title {
  color: #000;
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.sg_application>p {
  color: #2B2B2B;
  font-family: Chivo;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sg_application>p>font {
  font-weight: 900;
}

.black_box_padding {
  background: linear-gradient(to bottom, #f5f5f5 50%, black 50%);
  position: relative;
  border-radius: 45px;
  z-index: 10;
}

.black_box {
  display: flex;
  background: url(/static/img/specification-contexts.svg);
  justify-content: space-between;
  position: relative;
  z-index: 9;
  border-radius: 45px;

}

.black_box>img {
  position: sticky;
  left: 0;
}

.sp_list {
  display: flex;
  flex-direction: column;
}

.sp_list>li {
  border-bottom: 1px solid #D7D7D7;
}

.sp_list>li:first-child {
  padding-top: 0;
}

.sp_list>li:last-child {
  border-bottom: none;
}

.sp_list>li>h3 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Chivo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sp_list>li>p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Chivo;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comparison_table {
  border-radius: 30px;
  border-collapse: collapse;
}

.comparison_table tr,
.comparison_table th {
  border: 1px solid #fff;
}

.comparison_table th,
.comparison_table td {
  color: #fff;
  text-align: center;
  font-family: Chivo;
  font-style: normal;
  line-height: normal;
  background-color: #383838;
  font-weight: 200;
}

.comparison_table td[colspan="2"],
.comparison_table th[colspan="2"] {
  font-weight: 400;
  background-color: #fff;
  color: #000;
  border: none;
  border-bottom: 1px solid #BFBFBF;
}

.last_td {
  border: none !important;
}

.comparison_table .highlight_text {
  background-color: #3894ff;
  font-weight: 800;
  color: #fff;
}

.communal {
  display: flex;
  flex-direction: column;
  align-items: center
}

.communal>h3 {
  color: #000;
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.communal_learn_more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 73px;
  background: #3894FF;
  color: #FFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 101.223%;
  margin: 0 auto;
  transition: .3s;
}

.communal_learn_more:hover {
  box-shadow: 0px 0px 16px 0px #3894FF;
  color: #fff;
}

.empower {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #26272c !important;
}

.empower>h3 {
  color: #FFF;
  text-align: center;
  font-family: Chivo;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  line-height: 101.223%;
}

.empower>p {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: Chivo;
  font-style: normal;
  font-weight: 400;
  line-height: 101.223%;
}

.logo_list>h2 {
  text-align: center;
}

.logo_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  margin: 0;
}

.logo_items>a {
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_items>a>img {
  width: 80%;
  display: block;
}

.sg_application_video {
  overflow: hidden;
}

.sg_application_video>div {
  display: flex;
  transition: .3s;
}

.sg_application_video>div>div {
  flex-shrink: 0;
}

.sg_application_video>div>div>video {
  width: 100%;
}


@media screen and (min-width: 1800px) {
  .sg_main>.sg_page_head {
    padding-top: 100px;
  }

  .sg_chip_info {
    width: 1708px;
  }

  .sg_page_head>div {
    width: 1708px;
  }

  .head_title {
    padding-top: 123px;
  }

  .title_box>p:first-child {
    font-size: 70px;
    margin-right: 25px;
  }

  .title_box>p:last-child {
    font-size: 186px;
  }

  .lern_more {
    gap: 2px;
    width: 155px;
  }

  .sg_about {
    padding: 85px 0;
  }

  .sg_about>p {
    font-size: 42px;
  }

  .sg_about>div {
    width: 1020px;
  }

  .sg_about>div>h1 {
    font-size: 24px;
    margin-bottom: 60px;
  }

  .lern_more {
    font-size: 20px;
  }

  .text_card {
    height: 680px;
    margin: 170px auto 150px;
    gap: 0 40px;
  }

  .text_card>li {
    height: 630px;
    border-radius: 45px;
    padding: 50px 42px;
  }

  .text_card>li>p:first-child {
    font-size: 33px;
  }

  .text_card>li>p:last-child {
    font-size: 33px;
  }

  .sg_application {
    margin: 100px 0 150px;
  }

  .items_title {
    font-size: 56px;
    margin-bottom: 20px;
  }

  .sg_application>p {
    font-size: 24px;
  }

  .black_box_padding {
    margin: 20px 0 150px;
  }

  .black_box {
    padding-left: 140px;
    border-radius: 45px;

  }

  .black_box>img {
    top: 110px;
    width: 425px;
    height: 440px;
    margin-top: 145px;
  }

  .sp_list {
    width: 780px;
    margin-top: 110px;
    margin-right: 50px;
  }

  .sp_list>li {
    padding: 60px 0;
  }

  .sp_list>li>h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .sp_list>li>p {
    font-size: 28px;
  }

  .comparison_table {
    margin-top: 60px;
  }

  .comparison_table td {
    width: 260px;
    height: 130px;
  }

  .comparison_table th,
  .comparison_table td {
    font-size: 30px;
    padding: 10px 20px;
  }

  .comparison_table td[colspan="2"],
  .comparison_table th[colspan="2"] {
    width: 520px;
    height: 130px;
  }

  .communal {
    margin: 150px auto;
    width: 1210px;
  }

  .communal>h3 {
    font-size: 42px;
  }

  .communal_learn_more {
    padding: 20px 30px;
    gap: 10px;
    font-size: 26px;
  }

  .empower {
    height: 360px;
    margin: 150px 0;
  }

  .empower>h3 {
    font-size: 76px;
  }

  .empower>p {
    font-size: 28px;
  }

  .logo_list {
    width: 1625px;
    margin: 150px auto;
  }

  .logo_items>a {
    width: 325px;
    height: 150px;
  }

  .sg_application_video {
    margin-bottom: 150px;
  }

  .sg_application_video>div {
    gap: 0 40px;
  }

  .sg_application_video>div>div {
    width: 1080px;
    height: 608px;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1450px) {
  .sg_main>.sg_page_head {
    padding-top: 100px;
  }

  .sg_chip_info {
    width: 95%;
  }

  .sg_page_head>div {
    width: 95%;
  }

  .head_title {
    padding-top: 100px;
  }

  .title_box>p:first-child {
    font-size: 56px;
    margin-right: 15px;
  }

  .title_box>p:last-child {
    font-size: 150px;
  }

  .lern_more {
    gap: 2px;
    width: 155px;
  }

  .sg_about {
    padding: 55px 0;
  }

  .sg_about>p {
    font-size: 32px;
  }

  .sg_about>div {
    width: 950px;
  }

  .sg_about>div>h1 {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .lern_more {
    font-size: 20px;
  }

  .text_card {
    height: 500px;
    margin: 120px auto 120px;
    gap: 0 30px;
  }

  .text_card>li {
    height: 460px;
    border-radius: 45px;
    padding: 50px 42px;
  }

  .text_card>li>p:first-child {
    font-size: 26px;
  }

  .text_card>li>p:last-child {
    font-size: 26px;
  }

  .sg_application {
    margin: 100px 0 120px;
  }

  .items_title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .sg_application>p {
    font-size: 24px;
  }

  .black_box_padding {
    margin: 20px 0 120px;
  }

  .black_box {
    padding-left: 100px;
    border-radius: 45px;
  }

  .black_box>img {
    top: 110px;
    width: calc(425px*.8);
    height: calc(440px*.8);
    margin-top: 120px;
  }

  .sp_list {
    width: 700px;
    margin-top: 110px;
    margin-right: 50px;
  }

  .sp_list>li {
    padding: 50px 0;
  }

  .sp_list>li>h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .sp_list>li>p {
    font-size: 24px;
  }

  .comparison_table {
    margin-top: 60px;
  }

  .comparison_table td {
    width: calc(260px*.8);
    height: calc(130px*.8);
  }

  .comparison_table th,
  .comparison_table td {
    font-size: 26px;
    padding: 10px 20px;
  }

  .comparison_table td[colspan="2"],
  .comparison_table th[colspan="2"] {
    width: calc(520px*.8);
    height: calc(130px*.8);
  }

  .communal {
    margin: 120px auto;
    width: 1210px;
  }

  .communal>h3 {
    font-size: 38px;
  }

  .communal_learn_more {
    padding: 20px 30px;
    gap: 10px;
    font-size: 22px;
  }

  .empower {
    height: 300px;
    margin: 120px 0;
  }

  .empower>h3 {
    font-size: 54px;
  }

  .empower>p {
    font-size: 22px;
  }

  .logo_list {
    width: 95%;
    margin: 120px auto;
  }

  .logo_items>a {
    width: 325px;
    height: 150px;
  }

  .sg_application_video {
    margin-bottom: 120px;
  }

  .sg_application_video>div {
    gap: 0 30px;
  }

  .sg_application_video>div>div {
    width: calc(1080px*.8);
    height: calc(608px*.8);
  }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {
  .sg_main>.sg_page_head {
    padding-top: 50px;
  }

  .sg_chip_info {
    width: 98%;
  }

  .sg_page_head>div {
    width: 98%;
  }

  .head_title {
    padding-top: 100px;
  }

  .title_box>p:first-child {
    font-size: 36px;
    margin-right: 15px;
  }

  .title_box>p:last-child {
    font-size: 120px;
  }

  .lern_more {
    gap: 2px;
    width: 155px;
  }

  .sg_about {
    padding: 30px 0;
  }

  .sg_about>p {
    font-size: 28px;
  }

  .sg_about>div {
    width: 850px;
  }

  .sg_about>div>h1 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .lern_more {
    font-size: 18px;
  }

  .text_card {
    height: 480px;
    margin: 80px auto;
    gap: 0 30px;
  }

  .text_card>li {
    height: 400px;
    border-radius: 45px;
    padding: 30px 20px;
  }

  .text_card>li>p:first-child {
    font-size: 22px;
  }

  .text_card>li>p:last-child {
    font-size: 22px;
  }

  .sg_application {
    margin: 80px 0;
  }

  .items_title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .sg_application>p {
    font-size: 20px;
  }

  .black_box_padding {
    margin: 20px 0 80px;
  }

  .black_box {
    padding-left: 100px;
    border-radius: 45px;
  }

  .black_box>img {
    top: 120px;
    width: calc(425px*.7);
    height: calc(440px*.7);
    margin-top: 100px;
  }

  .sp_list {
    width: 560px;
    margin-top: 110px;
    margin-right: 50px;
  }

  .sp_list>li {
    padding: 40px 0;
  }

  .sp_list>li>h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .sp_list>li>p {
    font-size: 20px;
  }

  .comparison_table {
    margin-top: 60px;
  }

  .comparison_table td {
    width: calc(260px*.7);
    height: calc(130px*.7);
  }

  .comparison_table th,
  .comparison_table td {
    font-size: 22px;
    padding: 10px 20px;
  }

  .comparison_table td[colspan="2"],
  .comparison_table th[colspan="2"] {
    width: calc(520px*.7);
    height: calc(130px*.7);
  }

  .communal {
    margin: 80px auto;
    width: 900px;
  }

  .communal>h3 {
    font-size: 30px;
  }

  .communal_learn_more {
    padding: 20px 30px;
    gap: 10px;
    font-size: 18px;
  }

  .empower {
    height: 280px;
    margin: 60px 0;
  }

  .empower>h3 {
    font-size: 46px;
  }

  .empower>p {
    font-size: 20px;
  }

  .logo_list {
    width: 98%;
    margin: 80px auto;
  }

  .logo_items>a {
    width: calc(325px*.7);
    height: calc(150px*.7);
  }

  .sg_application_video {
    margin-bottom: 80px;
  }

  .sg_application_video>div {
    gap: 0 30px;
  }

  .sg_application_video>div>div {
    width: calc(1080px*.6);
    height: calc(608px*.6);
  }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
  .sg_main>.sg_page_head {
    padding-top: 50px;
  }

  .sg_chip_info {
    width: 98%;
  }

  .sg_page_head>div {
    width: 98%;
  }

  .head_title {
    padding-top: 80px;
  }

  .title_box>p:first-child {
    font-size: 30px;
    margin-right: 15px;
  }

  .title_box>p:last-child {
    font-size: 80px;
  }

  .lern_more {
    gap: 2px;
    width: 150px;
  }

  .sg_about {
    padding: 20px 0;
  }

  .sg_about>p {
    font-size: 24px;
  }

  .sg_about>div {
    width: 500px;
  }

  .sg_about>div>h1 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .lern_more {
    font-size: 18px;
  }

  .text_card {
    margin: 50px auto;
    gap: 0 30px;
  }

  .text_card>li {
    height: 400px;
    border-radius: 25px;
    padding: 30px 20px;
  }

  .text_card>li>p:first-child {
    font-size: 18px;
  }

  .text_card>li>p:last-child {
    font-size: 18px;
  }

  .sg_application {
    margin: 60px 0;
  }

  .items_title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .sg_application>p {
    font-size: 18px;
  }

  .black_box_padding {
    margin: 20px 0 60px;
  }

  .black_box {
    padding-left: 40px;
    border-radius: 45px;
  }

  .black_box>img {
    top: 120px;
    width: calc(425px*.5);
    height: calc(440px*.5);
    margin-top: 100px;
  }

  .sp_list {
    width: 460px;
    margin-top: 110px;
    margin-right: 50px;
  }

  .sp_list>li {
    padding: 25px 0;
  }

  .sp_list>li>h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .sp_list>li>p {
    font-size: 16px;
  }

  .comparison_table {
    margin-top: 60px;
  }

  .comparison_table td {
    width: calc(260px*.5);
    height: calc(130px*.5);
  }

  .comparison_table th,
  .comparison_table td {
    font-size: 18px;
    padding: 10px 20px;
  }

  .comparison_table td[colspan="2"],
  .comparison_table th[colspan="2"] {
    width: calc(520px*.5);
    height: calc(130px*.5);
  }

  .communal {
    margin: 80px auto;
    width: 700px;
  }

  .communal>h3 {
    font-size: 30px;
  }

  .communal_learn_more {
    padding: 20px 30px;
    gap: 10px;
    font-size: 18px;
  }

  .empower {
    height: 200px;
    margin: 60px 0;
  }

  .empower>h3 {
    font-size: 40px;
  }

  .empower>p {
    font-size: 20px;
  }

  .logo_list {
    width: 98%;
    margin: 80px auto;
  }

  .logo_items>a {
    width: calc(325px*.5);
    height: calc(150px*.5);
  }

  .sg_application_video {
    margin-bottom: 80px;
  }

  .sg_application_video>div {
    gap: 0 30px;
  }

  .sg_application_video>div>div {
    width: calc(1080px*.5);
    height: calc(608px*.5);
  }
}

@media screen and (max-width: 750px) {
  .sg_main>.sg_page_head {
    padding-top: 50px;
  }

  .sg_chip_info {
    width: 98%;
  }

  .sg_page_head>div {
    width: 98%;
  }

  .head_title {
    padding-top: 3rem;
  }

  .title_box>p:first-child {
    font-size: 1.6rem;
    margin-right: 1rem;
  }

  .title_box>p:last-child {
    font-size: 4rem;
  }

  .sg_about {
    padding: 3rem 1rem;
    flex-direction: column;
  }

  .sg_about>p {
    font-size: 1.2rem;
  }

  .sg_about>div>h1 {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }

  .lern_more {
    font-size: 1.2rem;
  }

  .text_card {
    margin: 3rem auto;
    gap: 1rem;
    flex-direction: column;
    width: 95%;
  }

  .text_card>li {
    height: 20rem;
    border-radius: 1.2rem;
    padding: 2rem;
  }

  .text_card>li>p:first-child {
    font-size: 1.4rem;
  }

  .text_card>li>p:last-child {
    font-size: 1.4rem;
  }

  .sg_application {
    margin: 60px 0;
  }

  .items_title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .sg_application>p {
    font-size: 18px;
  }

  .black_box_padding {
    margin: 20px 0 60px;
  }

  .black_box {
    padding: 2rem;
    border-radius: 45px;
    flex-direction: column;
  }

  .black_box>img {
    position: static;
    top: 120px;
    width: 20rem;
    margin-top: 100px;
  }

  .sp_list {
    width: 100%;
    margin-top: 2rem;
    margin-right: 0;
  }

  .sp_list>li {
    padding: 1.5rem 0;
  }

  .sp_list>li>h3 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .sp_list>li>p {
    font-size: 1rem;
  }

  .comparison_table {
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 1rem;
  }

  .comparison_table td {
    width: 3rem;
    height: 2rem;
  }

  .comparison_table th,
  .comparison_table td {
    font-size: 1.2rem;
    padding: .6rem 1.4rem;
  }

  .comparison_table td[colspan="2"],
  .comparison_table th[colspan="2"] {
    width: 6rem;
    height: 2rem;
  }

  .communal {
    margin: 5rem auto;
  }

  .communal>h3 {
    font-size: 1.6rem;
  }

  .communal_learn_more {
    padding: 1rem 1.4rem;
    gap: .8rem;
    font-size: 1.2rem;
  }

  .empower {
    height: 10rem;
    margin: 3rem 0;
  }

  .empower>h3 {
    font-size: 2.5rem;
  }

  .empower>p {
    font-size: 1.4rem;
  }

  .logo_list {
    width: 98%;
    margin: 3rem auto;
  }

  .logo_items {
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    gap: 1rem;
  }

  .sg_application_video {
    margin-bottom: 3rem;
  }

  .sg_application_video>div {
    flex-direction: column;
    gap: 0 30px;
  }

  .sg_application_video>div>div {
    width: 100%;
  }
}